@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/PressStart2P-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'GNF';
  src: url('../assets/fonts/gnf.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pixelify Sans';
  font-style: normal;
  font-weight: 400 700;
  src: url('../assets/fonts/PixelifySans-VF.woff2') format('woff2');
}
